
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>About Me</p>
          <p>I'm currently studying computer programming and have a keen interest in the fashion industry. Although my academic focus lies in programming and technology, my passion for fashion drives me to explore opportunities where these two fields intersect.</p>
          <p>Originating from India, I bring a unique perspective and cultural influence to my work. I believe that combining my programming skills with a deep understanding of the fashion industry can lead to innovative solutions and advancements in areas such as e-commerce, fashion analytics, or digital marketing.</p>
          <p>As I continue my studies, I'm actively seeking ways to bridge the gap between programming and fashion. I'm immersing myself in fashion-related projects, participating in design competitions, and collaborating with fellow fashion enthusiasts to broaden my knowledge and skills in this field.</p>
          <p>My goal is to leverage my programming expertise to contribute to the growth and transformation of the fashion industry. Whether it's developing cutting-edge fashion-related applications, optimizing supply chain management systems, or enhancing the online shopping experience, I'm excited about the potential for technology to revolutionize the fashion world.</p>
          <p>Through this blog, I aim to share my journey of exploring the intersection of computer programming and fashion. Join me as we delve into exciting projects, discuss emerging trends, and explore how technology can shape the future of the fashion industry.</p>
           </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon...</h2>
          <p>Stay tuned for the future updates.</p>
        </aside>
      </div>
    